BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
BraceWrapping: {AfterFunction: true}
AllowShortCaseLabelsOnASingleLine:  true
IndentCaseLabels:   true
AlignAfterOpenBracket:  Align
AlignConsecutiveAssignments:    true
AlignConsecutiveDeclarations:   true
AlignEscapedNewlines: Left
AlignOperands:  true
AlignTrailingComments:  true
SeparateDefinitionBlocks: Always